* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    --red: #FE7F2D;
    --yellow: #FCCA46;
    --green: #A1C181;
    --blue: #619B8A;

    --light: #eee;
    --mid: #676767;
    --dark: #1D1A31;

    color: var(--dark);
    font: 20px/1 sans-serif;
}

body {
    background-color: #2222;
}

.title{
    font-style: oblique;
    color: orangered;
    /* size: 189rem; */
    
    
}

.main-header {
    
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(45deg, var(--blue), var(--red));
    /* background-size:cover; */
    position: fixed;
    width: 100vw;
   
}

nav ul{
    display: flex;
    list-style: none;
    /* align-items:center; */
   
}

.nav-link_list{
    padding: 0.4rem;
    
}

a{
    text-decoration: none;
    list-style: none;
    color: rgb(51, 255, 0);
    font-size: 1rem;
}

a:hover{ color: yellow;

}

article{
    background-color: #1111;
}


.hero-image{
    background-image: url(NY.jpg);
    background-size: cover;
    height : 50vh ;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 10vw;
    height: 30vh;

}

.profile-picture{
    border-style: solid;
    border: 1px red solid;
    margin-bottom: none;
}



.container{
    padding: 1rem 1rem;
}

ul{
    list-style-type: none;
}


.mug-shot {
    padding: 1rem 1rem;
    
}




/* contact page */



.contact-links{
display: flex;
background-image: url(link.jpg);
height: 100vh;
background-size: contain;
justify-content: center;
align-items: center;

}

.contact-items {
    text-align: center;
    list-style: none;
    font-size: 2rem;
    border-style: solid;
    border: 5px rgba(231, 228, 8, 0.822) solid;
     
}


/* project page */

.virtualPetImage {
    width: 800px;
    height: 500px;
}

.universityImage {
    width: 800px;
    height: 500px;  
}

.FortuneTellerImage {
    width: 800px;
    height: 400px;
}

.project{
    padding-top: 1rem;
    border-bottom: 4px red solid;
}

footer{
    display: flex;
    background-color: #2222;
    justify-content: center;

}