* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    --red: #FE7F2D;
    --yellow: #FCCA46;
    --green: #A1C181;
    --blue: #619B8A;

    --light: #eee;
    --mid: #676767;
    --dark: #1D1A31;

    font: 20px/1 sans-serif;
    
}

body {
    background-color: #2222;
}

ul{
    list-style: none;
}

.main_header{
    align-items: center;
    display:flex;
    justify-content: space-between;
    background-image: linear-gradient(45deg, var(--blue), var(--dark));   
    position: fixed;
    width: 100vw;
}

.main_header__heading{
    font-style: oblique;
    color: orangered;
}

.nav_link_list{
    display: flex;
   
}

.nav_link__item{
   padding: 0.5rem;
}

.header-anchor {
    position: relative;
    top: -2rem;
    visibility: hidden;
}

.home-anchor {
    position: relative;
    top: -16rem;
    visibility: hidden;
}

.nav_link__item a {
    color: orange;
}

a:hover{ color: yellow;
}

a{
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
}

article{
    background-color: #1111;
}

.About{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.Tech_stack{
    padding-bottom: 1rem; 
}

.TabContainer{
    width: 100%;
    height: 350px;
}

.buttonContainer{
    height: 15%;
}

.buttonContainer button {
    width: 25%;
    height: 100%;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    
}

button:hover {
    background-color:grey;
}

.TabPanel{
    height: 85%;
    background-color:slategrey;
    color: wheat;
    text-align: center;
    padding-top: 10px;
    
    box-sizing: border-box;
    font-size: 15px;
    display: none;
}

.Projects_head{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

img{
    max-width: 100%;
}

.hero-image{
    background-image: url(./Blue-sky.jpg);
    background-size: cover;
    height : 90vh ;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: center;
}

.image-hero{
  display: flex;
  height: 90vh;  
  width: 100%;
  
}

.Tech_stack{
    padding-top: 1rem;
    padding-bottom: 1rem;
}


footer{
    display: flex;
    background-color: #2222;
    justify-content: center;

}

.contact_list{
    display: flex;
}

.contact-items{
    margin: 1rem;
}

